<form class="form-inline">
	<div class="form-group">
		<div class="checkbox">
			<label>
				<input type="checkbox" id="invalid" value="1"> Invalid only
			</label>
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox" id="active" value="1"> Active only
			</label>
		</div>
	</div>
</form>

<table id="table" class="table table-striped">
	<thead>
	<tr>
		<th width="30"><strong>UID</strong></th>
		<th width="80"><strong>ASIN</strong></th>
		<th><strong>Product name</strong></th>
		<th align="right" class="link">Details</th>
	</tr>
	</thead>
	<tbody></tbody>
</table>
